<h1> PixFlix </h1>

<h4>Login</h4>



<% if @user %>
    <p>Welcome back <%= @user.username %></p>
<% else %>
<h3 class='error'><%= flash[:notice] %></h3>
<% end %>

<div class="login">
<%=form_tag '/login' do %>
<%= label_tag :username %><br>
<%= text_field_tag :username %><br>

<%= label_tag :password %><br>
<%= password_field_tag :password %><br>

<%= submit_tag 'Login' %><br>
<%= link_to 'New User? Sign Up', new_user_path %>

<% end %>
</div>
