<h1 class="title">Sign Up For PixFlix</h1>

<div class="signup">
<%= form_for @user do |f| %>

<%= f.label :username %><br>
<%= f.text_field :username %><br>
<%= f.label :password %><br>
<%= f.password_field :password %><br>
<%= f.label :password_confirmation %><br>
<%= f.password_field :password_confirmation %><br>

<%= submit_tag 'Sign Up' %>

<% end %>

</div>
