<div>
<%= image_tag(@picture.image_url) %><br>
<%= @picture.title %><br>
<% @picture.comments.each do |c| %>
<li><%= c.content %></li>
<% end %>
</div>


<div>
<%= form_for @comment do |f| %><br>
<%= f.hidden_field :picture_id, value: @picture.id %>
<%= f.hidden_field :user_id, value: current_user.id %>
<%= f.label "Comments" %><br>
<%= f.text_field :content %><br>
<%= f.submit "Add Comment" %>
<% end %>
</div>

<div>
<p><%= link_to "#{@picture.user.username}'s Pix Collection", user_path(@picture.user)%></p><br>
<% @picture.tags.each do |tag| %>
<p>Tags: <%= link_to tag.name, tag_path(tag) %></p>
<% end %>
</div>
